<div class="notes-wrapper">
  <div class="container">
    <div class="notes-list">
      <div class="note-card">
        <div class="note-card-title">This is the note title!</div>
        <div class="note-card-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consectetur delectus distinctio ea est, excepturi expedita fugit laudantium minima, perspiciatis possimus provident ratione reiciendis sed sint suscipit ut vitae?
        </div>
      </div>
    </div>
  </div>
</div>
